.p {
  position: fixed;
  bottom: 0;
  left: 5px;
  color: whitesmoke;
  font-size: 10px;
  user-select: none;
  opacity: 0.4;
  z-index: 100;
  transition: all 0.2s ease;
}

.p:hover {
  opacity: 1;
  transform: scale(1.5) translate(15px, -10px);
}
